body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #faf8ef;
  }

  .game-container {
    background: #bbada0;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }

  .tile {
    width: 100px;
    height: 100px;
    background: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
  }
  .tile[data-value="2"]    { background: #eee4da; color: #776e65; }
  .tile[data-value="4"]    { background: #ede0c8; color: #776e65; }
  .tile[data-value="8"]    { background: #f2b179; color: #f9f6f2; }
  .tile[data-value="16"]   { background: #f59563; color: #f9f6f2; }
  .tile[data-value="32"]   { background: #f67c5f; color: #f9f6f2; }
  .tile[data-value="64"]   { background: #f65e3b; color: #f9f6f2; }
  .tile[data-value="128"]  { background: #edcf72; color: #f9f6f2; }
  .tile[data-value="256"]  { background: #edcc61; color: #f9f6f2; }
  .tile[data-value="512"]  { background: #edc850; color: #f9f6f2; }
  .tile[data-value="1024"] { background: #edc53f; color: #f9f6f2; }
  .tile[data-value="2048"] { background: #edc22e; color: #f9f6f2; }

button {
    position: absolute;
    top: 130px;
    left: 610px;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: #8f7a66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #776e65;
    font-weight: bold;
    background: #bbada0;
    padding: 10px 20px;
    border-radius: 5px;
}